{% extends 'patient_layout.html' %}
{% block title %}
    Report
{% endblock %}
{% block content %}
    <style>
        .main_page_element {
            position: relative;
            height: 0;
            width: 0;
        }

        .heatmap_box {
            position: absolute;
            top: 10px;
            left: 10px;
            width: 750px;
            height: 310px;
            border: 2px solid black;
            text-align: center;
        }

        .report_box {
            position: absolute;
            top: 340px;
            left: 10px;
            width: 750px;
            height: 250px;
            border: 2px solid black;
            padding: 5px
        }

        .index_box {
            position: absolute;
            top: 20px;
            left: 1050px;
            width: 200px;
            height: 120px;
            border: 2px solid black;
            padding: 5px
            text-align: center;
        }

        .reportList {
            position: absolute;
            top: 170px;
            left: 1000px;
            width: 650px;
        }
    </style>
    <div class="main_page_element">
        <div class="heatmap_box">
            {{ HeatmapGoesHere }}
        </div>

        <ul class="reportList">
            {% for report in allReports %}
                <li>
                    <a href="/user/patient/report/{{forloop.counter0}}">Report from: {{report.timestamp}}</a>
                </li>
            {% endfor %}
        </ul>

        <div class="report_box">
            <h1> Scan Analysis Report </h1>
            <p style="font-size:24px">
                {{ report_0 }}
            </p>
            <p style="font-size:24px">
                {{ report_1 }}
            </p>
            <p style="font-size:24px">
                {{ report_2 }}
            </p>
        </div>

        <div class="index_box">
            <p style="font-size:24px; text-align: center">
                This report is report {{ reportNumber }} out of the {{ noOfReports }} saved reports.
            </p>
        </div>

    </div>
{% endblock %}