{% extends 'patient_layout.html' %}
{% load static %}
{% block title %}
    Report
{% endblock %}
{% block content %}
    <style>
        .main_page_element {
            position: relative;
            height: 0;
            width: 0;
            font-size: {{user.font_size_preference}};
        }

        .heatmap_box {
            position: absolute;
            top: 10px;
            left: 10px;
            width: 750px;
            height: 310px;
            border: 2px solid black;
            text-align: center;
        }

        .report_box {
            position: absolute;
            top: 540px;
            left: 10px;
            width: 750px;
            height: 250px;
            border: 2px solid black;
            padding: 5px;
            border-radius: 25px;
        }

        .index_box {
            position: absolute;
            display: flex;
            top: 20px;
            left: 1050px;
            width: 200px;
            height: 120px;
            border: 2px solid black;
            padding: 5px;
            text-align: center;
            align-items: center;
            border-radius: 15px;
        }

        .reportList {
            position: absolute;
            top: 170px;
            left: 950px;
            height: 350px;
            text-align: center;
            overflow: auto;
            display: block;
        }

        /* Modify individual entries in lists */
        .list_box {
            position: relative;
            width: 400px;
            border: 2px solid black;
            padding: 5px
            text-align: center;
            border-radius: 15px;
            background-color: #008CBA;
            font-size: {{user.font_size_preference}};
        }

        .list_box a {
            text-decoration: none;
            color: white;
        }

        .list_box a:hover {
            color: black;
        }

    </style>
    <div class="main_page_element">
        <div class="heatmap_box">
            <div id="heatmap">
            </div>
        </div>

        <ul class="reportList">
            {% for report in allReports %}
                <li>
                    <div class="list_box">
                        <a href="/user/patient/report/{{forloop.counter0}}">Report from: {{report.timestamp}}</a>
                    </div>
                </li>
            {% endfor %}
        </ul>

        <div class="report_box">
            <h1> Scan Analysis Report </h1>
            <p>
                {{ report_0 }}
            </p>
            <p>
                {{ report_1 }}
            </p>
            <p>
                {{ report_2 }}
            </p>
        </div>

        <div class="index_box">
            <p style="text-align: center">
                This report is report {{ reportNumber }} out of the {{ noOfReports }} saved reports.
            </p>
        </div>

    </div>

{{ heatmapArr|json_script:"heatmapArr" }}

{% block script %}
<script>const heatmapList = JSON.parse(document.getElementById('heatmapArr').textContent);</script>
<script src="https://cdn.plot.ly/plotly-2.27.0.min.js"></script>
<script src="{% static 'js/heatmap.js' %}"></script>

<script>
    window.onload = function() {
        const heatmapMatrix = listToMatrix(heatmapList)
        plotHeatmap(heatmapMatrix)
    }
</script>

{% endblock %}
{% endblock %}