{% extends 'clinician_layout.html' %}
{% load static %}
{% block title %}
    Report
{% endblock %}
{% block content %}
    <style>
        .main_page_element {
            position: relative;
            height: 0;
            width: 0;
        }

        .heatmap_box {
            position: absolute;
            top: 1vh;
            left: 1vw;
            width: 35vw;
            text-align: center;
            font-size: {{user.font_size_preference}};
        }

        .patient_name_box {
            position: absolute;
            top: 3vh;
            left: 40vw;
            width: 25vw;
            height: 10vh;
            border: 2px solid black;
            padding: 5px;
            border-radius: 15px;
            font-size: {{user.font_size_preference}};
            text-align: center;
        }
        .report_box {
            position: absolute;
            top: 15vh;
            left: 40vw;
            width: 25vw;
            height: 40vh;
            border: 2px solid black;
            padding: 5px;
            border-radius: 15px;
            font-size: {{user.font_size_preference}};
        }

        .button {
            border: 2px solid black;
            text_align: center;
            padding: 16px 32px;
            color: white;
            background-color: #008CBA;
            cursor: pointer;
            transition-duration: 0.4s;
            border-radius: 10px;
            font-size: {{user.font_size_preference}};
        }

        .button:hover {
            background-color: white;
            color: black;
        }

        .button1 {
            position: absolute;
            top: 57vh;
            left: 42vw;
        }

        .button2 {
            position: absolute;
            top: 57vh;
            left: 55vw;
        }

        .reportList {
            position: absolute;
            top: 40vh;
            left: 70vw;
            height: 30vh;
            text-align: center;
            overflow: auto;
            display: block;
            font-size: {{user.font_size_preference}};
        }

        .patientList {
            position: absolute;
            top: 3vh;
            left: 70vw;
            height: 30vh;
            text-align: center;
            overflow: auto;
            display: block;
            font-size: {{user.font_size_preference}};
        }

        /* Modify individual entries in lists */
        .list_box {
            position: relative;
            width: 25vw;
            border: 2px solid black;
            padding: 5px
            text-align: center;
            border-radius: 15px;
            background-color: #008CBA;
        }

        .list_box a {
            text-decoration: none;
            color: white;
        }

        .list_box a:hover {
            color: black;
        }



    </style>
    <div class="main_page_element">
        <div class="heatmap_box">
            <div id="heatmap"></div>
        </div>

        <div class="patient_name_box">
            <h3>Patient Name: {{patient.first_name}} {{patient.last_name}}</h3>
            <h3>Scan Date: {{scanTime}}</h3>
        </div>

        <div class="report_box">
            <h1> Patient Scan Report </h1>
            <p>
                {{ report_0 }}
            </p>
            <p>
                {{ report_1 }}
            </p>
            <p>
                {{ report_2 }}
            </p>
            <p>
                {{ report_3}}
            </p>
        </div>
        <button class="button button1">
            Edit Report
        </button>
        <button class="button button2">
            Approve Report
        </button>

        <ul class="reportList">
            {% for listReport in allReports %}
                <li>
                    <div class="list_box">
                        <a href="/user/clinician/report/{{forloop.counter0}}/{{patientNumber}}">Report from: {{listReport.timestamp}}</a>
                    </div>
                </li>
            {% endfor %}
        </ul>

        <ul class="patientList">
            {% for patientClinician in listOfPatients %}
                <li>
                    <div class="list_box">
                        <a href="/user/clinician/report/0/{{forloop.counter0}}">Patient: {{patientClinician.patient.first_name}} {{patientClinician.patient.last_name}}</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

{{ heatmapArr|json_script:"heatmapArr" }}

{% block script %}
<script>const heatmapList = JSON.parse(document.getElementById('heatmapArr').textContent);</script>
<script src="https://cdn.plot.ly/plotly-2.27.0.min.js"></script>
<script src="{% static 'js/heatmap.js' %}"></script>

<script>
    window.onload = function() {
        const heatmapMatrix = listToMatrix(heatmapList)
        plotHeatmap(heatmapMatrix)
    }
</script>

{% endblock %}
{% endblock %}