{% extends 'clinician_layout.html' %}
{% block title %}
    Report
{% endblock %}
{% block content %}
    <style>
        .main_page_element {
            position: relative;
            height: 0;
            width: 0;
        }

        .profile_picture_box {
            position: absolute;
            top: 10px;
            left: 1200px;
            width: 250px;
            height: 250px;
            border: 2px solid black;
            text-align: center;
            border-radius: 15px;
        }

        .personal_information_box {
            position: absolute;
            top: 10px;
            left: 550px;
            width: 450px;
            height: 450px;
            border: 2px solid black;
            text-align: center;
            border-radius: 15px;
        }

        .patient_list_box {
            position: absolute;
            top: 10px;
            left: 100px;
            width: 250px;
            height: 450px;
            border: 2px solid black;
            text-align: center;
            border-radius: 15px;
        }

    </style>
    <div class="main_page_element">
        <div class="profile_picture_box">
            <h2>Profile Picture:</h2>
            <img src="{{ user.profile_picture.url }}" alt="Profile Picture">
        </div>

        <div class="personal_information_box">
            <h2>Account Information:</h2>
            <p>Name: {{user.first_name}} {{user.last_name}}</p>
            <p>Email: {{user.email}}</p>
            <p>Phone Number: {{user.phone_number}}</p>
            <p>Date of Birth: {{user.date_of_birth}}</p>
        </div>

        <div class="patient_list_box">
            <h2>Currently Assigned Patients:</h2>
            {% for patientClinician in listOfPatients %}
                <a>Patient: </a>
                <li>
                    <a>{{patientClinician.patient.first_name}}</a>
                    <a>{{patientClinician.patient.last_name}}</a>
                </li>
            {% endfor %}
        </div>
    </div>

{% endblock %}