<div id="password-code-panel" class="hidden">
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="form_type" value="confirm_reset">
        <input type="hidden" name="email" value="{{ reset_email }}">
        <h1>Enter Reset Code</h1>
        <div class="field">
            <label>Reset Code</label>
            <input type="text" name="code" required>
        </div>
        <div class="field">
            <label>New Password</label>
            <input type="password" name="password" required>
        </div>
        <button type="submit">Reset Password</button>
    </form>
    <button type="button" class="btn open-login">Return to login</button>
</div>