<div id="password-reset-panel" class="hidden">
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="form_type" value="request_reset_code">
        <h1>Reset Password</h1>
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        <div class="field">
            <label>Email</label>
            <input type="email" name="email" required>
        </div>
        <button type="submit">Send Code</button>
    </form>
    <button type="button" class="btn open-login">Return to login</button>
</div>