asgiref==3.11.0
Django==6.0.1
django-cleanup==9.0.0
django-extensions==4.1
django-resized==1.0.3
narwhals==2.17.0
numpy==2.4.2
packaging==26.0
pandas==3.0.1
pillow==12.1.0
plotly==6.5.2
python-dateutil==2.9.0.post0
six==1.17.0
sqlparse==0.5.5
tzdata==2025.3
django-phonenumber-field