{% extends 'user_layout.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="patient-splash">

        <h1 class="greeting">{{ user.first_name }}'s Notifications</h1>

        <div class="middle-box">
            {% for item in notifications %}
                <div class="notification {{ item.type }}">
                    <p>{{ item.text }}</p>
                    <small>{{ item.timestamp }}</small>
                </div>

            {% endfor %}

        </div>

    </div>

{% endblock %}