{%  extends "patient_layout.html" %}
{% block content %}
    <!-- Main page content -->
    <div class="main">
        <div class="graphs">
            <!-- Contains key metrics from the patients pressure mat data -->
            <div class="graph">
                <h1>Graph Data</h1>
                <div class="graph-content">
                    <div class="graph-plot">
                        <div class="tabs">
                        <button onclick="showTimeRange('30')">30 sec</button>
                        <button onclick="showTimeRange('60')">1 min</button>
                        <button onclick="showTimeRange('150')">2.5 min</button>
                        <button onclick="showTimeRange('300')">5 min</button>
                        </div>
                        <div id="graph"></div>
                        <button id ="live-toggle" onclick="toggleLiveMode()">Live Mode</button>
                    </div>

                    <div class="graph-metrics">
                        <button onclick="showMetric('peak_pressure_index',0,'Peak Pressure Index')" id="peak-pressure">Peak Pressure Index</button>
                        <button onclick="showMetric('contact_area_percent',1,'Contact Area Percentage')" id="contact-area">Contact Area Percentage</button>
                        <button onclick="showMetric('coefficient_of_variation',2,'Coefficient Of Variation')" id="coefficient-of-variation">Coefficient Of Variation</button>
                    </div>
                </div>
            </div>

            <div class="heatmap">
                <h1> Heatmap </h1>
                <div class="heatmap-content">
                    <div class="heatmap-plot">
                        <div class="tabs">
                            <button onclick="plotHeatmap()">Predicted Concerns</button>
                        </div>
                        <div id="heatmap"></div>
                    </div>

                    <div class="heatmap-metrics">

                    </div>
                </div>
            </div>
        </div>
    </div>

{{ metric_data|json_script:"metric_data" }}
<script src="https://cdn.plot.ly/plotly-2.27.0.min.js"></script>
<script>
    const metric_data = JSON.parse(document.getElementById('metric_data').textContent);
    for (const key in metric_data) {window[key] = metric_data[key];}
    const date = times.length ? new Date(times[0]).toLocaleDateString() : "";
    const max_value = Math.max(flat_pressure_matrix);
    const graph_layout = {margin: {t:1, l:50, r:1, b:50}, xaxis:{tickformat: "%H:%M", showline:true, line:{color:"#ccc"}, linewidth: 1, mirror: true}, yaxis:{title: {text: "Peak Pressure Index"}, showline:true, line:{color:"#ccc"}, linewidth: 1, mirror: true}};
    const graph_config = {responsive: true, displayModeBar: false, staticPlot: false};
    const heatmap_layout = {margin: { t: 1, l: 1, r: 1, b: 1 }, xaxis: {visible:false}, yaxis:{visible: false, autorange:'reversed'},line:{color:"#ccc"}, linewidth: 1};
    const heatmap_config = {staticPlot: false, displayModeBar: false, responsive: true}

    function listToMatrix(flat_list){const size = Math.sqrt(flat_list.length) // Defines matrix size
        return Array.from({length:size},(_,i)=>flat_list.slice(i*size,i*size+size));} // Return matrix

    // Graph plotting function
    function plotGraph(y,label,times){Plotly.react('graph', [{x:times, y:y, name:formatMetricName(label)}], graph_layout, graph_config);}

    // For displaying the predicted regions of concern (currently just displays heatmap)
    function plotHeatmap(pressure_matrix){Plotly.newPlot('heatmap',[{ z: pressure_matrix, type:'heatmap', showscale: false}], heatmap_layout, heatmap_config);}

    function showMetric(metric, index, label){current_metric = metric;
        Plotly.restyle('graph', {visible:[false,false,false]});Plotly.restyle('graph', {visible:true},[index]);
        Plotly.relayout('graph',{'yaxis.title.text':formatMetricName(label)});}

    function formatMetricName(metric) {return metric.replace(/_/g, " ").replace("index", "").trim();} // For titles

    let liveInterval = null;let isLive = false;let current_metric = "peak_pressure_index";let index = 0;
    const metrics = {peak_pressure_index: 0, contact_area_percent: 1, coefficient_of_variation: 2};
    function toggleLiveMode() {
        const button = document.getElementById("live-toggle");
        if (isLive) {clearInterval(liveInterval);isLive = false;button.textContent = "Live Mode";return;} // Turn off live mode on button press

        // Turn on live mode on button press
        isLive = true;button.textContent= "Stop Live"; index = 0;
        const traces = Object.keys(metrics).map(metric => ({x: [], y: [], name: formatMetricName(metric), mode: "lines", visible: metric === current_metric}));
        Plotly.react('graph', traces, graph_layout, graph_config);

        liveInterval = setInterval(() => {
            if (index >= peak_pressure_index.length) {clearInterval(liveInterval);isLive = false;button.textContent = "Live Mode"; return;}
            const metric_array = window[current_metric];const trace_index = metrics[current_metric];
            Plotly.extendTraces('graph', {x: [[times[index]]], y: [[metric_array[index]]]}, [trace_index]);
            updateMetrics(index);
            index++;
        }, 1000);}

    // Simulates live heatmap
    function simulateHeatMap() {
        let frame = 0;
        const interval = setInterval(() => {
            if (frame >= pressure_frames.length) {clearInterval(interval);return;}
            const matrix = listToMatrix(pressure_frames[frame]);
            Plotly.react('heatmap',[{z: matrix, type:'heatmap',showscale:false}], heatmap_layout, heatmap_config);
            frame++;
        }, 1000 / 15)}

    window.onload = function(){
        const pressure_matrix = listToMatrix(metric_data.flat_pressure_matrix); // Convert 1D list to 2D matrix
        plotHeatmap(pressure_matrix); // Plot heatmap
        simulateHeatMap();

        const traces = [
        { x: [], y: [], name: "Peak Pressure", mode: "lines", line: { color: '#ccc' } },
        { x: [], y: [], name: "Contact Area", mode: "lines", visible: false },
        { x: [], y: [], name: "Coefficient of Variation", mode: "lines", visible: false }];

        // Plot graph
        Plotly.newPlot('graph', traces, graph_layout, graph_config);

        showTimeRange('300')
        const last_index = peak_pressure_index.length - 1;
        updateMetrics(last_index)}

    function updateMetrics(index) {
        document.getElementById("peak-pressure").textContent = `Peak pressure: ${peak_pressure_index[index].toFixed(2)}`;
        document.getElementById("contact-area").textContent = `Contact area: ${contact_area_percent[index].toFixed(2)}%`;
        document.getElementById("coefficient-of-variation").textContent = `Coefficient of variation: ${coefficient_of_variation[index].toFixed(2)}%`;}

    // Displays latest data within a specified timerange in seconds
    function showTimeRange(seconds) {
        const latest_timestamp = new Date(times[times.length - 1]);const time_range = [];
        const metric_arrays = {peak_pressure_index: [], contact_area_percent: [], coefficient_of_variation: []};

        times.forEach((t, i) => {if ((latest_timestamp - new Date(t)) / 1000 <= seconds) {time_range.push(t);
                for (const metric in metric_arrays) {metric_arrays[metric].push(window[metric][i]);}}});

        const traces = Object.entries(metric_arrays).map(([metric, values]) => ({x: time_range, y: values, name: formatMetricName(metric), mode: "lines", visible: metric === current_metric}));
        Plotly.react('graph', traces, graph_layout, graph_config);

        // Update latest metric values
        const last_index = time_range.length - 1; updateMetrics(last_index);}

</script>

<!-- Manage tabs -->
    <script>
        const tabs = document.querySelectorAll('.tabs button');
        tabs.forEach(tab => tab.addEventListener('click', () => {tabs.forEach(t => t.classList.remove('active'));tab.classList.add('active');}));
        const timeTabs = document.querySelectorAll('.time-tabs button');
        timeTabs.forEach(tab => tab.addEventListener('click', () => {timeTabs.forEach(t => t.classList.remove('active'));tab.classList.add('active');}));
    </script>
{% endblock %}
