<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sensore Graphene Trace</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%  load static %}
    <link rel="stylesheet" href="{% static 'style2.css' %}">
</head>
<body>
<nav>
    <h3 class="nav-title"> Sensore Graphene Trace </h3>
    <button class="side-panel-toggle" type="button" aria-label="menu"> ☰ </button>
</nav>
    <div class="wrapper">

        <!-- Main page content -->
        <div class="main">
            <div class="graphs">
                <!-- Contains key metrics from the patients pressure mat data -->
                <div class="graph">
                    <h1>Graph Data</h1>
                    <div class="graph-content">
                        <div class="graph-plot">
                            <div class="tabs">
                            <button onclick="showTimeRange('30')">30 sec</button>
                            <button onclick="showTimeRange('60')">1 min</button>
                            <button onclick="showTimeRange('150')">2.5 min</button>
                            <button onclick="showTimeRange('300')">5 min</button>
                            </div>
                            <div id="graph"></div>
                            <button onclick="simulateGraphDisplay()">Live Mode</button>
                        </div>

                        <div class="graph-metrics">
                            <button onclick="showPeakPressureIndex()" id="peak-pressure">Peak Pressure Index</button>
                            <button onclick="showContactAreaPercent()" id="contact-area">Contact Area Percentage</button>
                            <button onclick="showCoefficientOfVariation()" id="coefficient-of-variation">Coefficient Of Variation</button>
                        </div>
                    </div>
                </div>

                <div class="heatmap">
                    <h1> Heatmap </h1>
                    <div class="heatmap-content">
                        <div class="heatmap-plot">
                            <div class="tabs">
                                <button onclick="plotHeatmap()">Predicted Concerns</button>
                            </div>
                            <div id="heatmap"></div>
                        </div>

                        <div class="heatmap-metrics">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Side panel -->
        <div class="side-panel">
            <!-- Menu Options -->
            <div id="menu-options">
                <form method='post' class="menu-options">
                    {% csrf_token %}
                    <button type="submit"> Home </button>
                    <button type="submit"> View Reports </button>
                    <button type="submit"> Notifications </button>
                    <button type="submit"> Support </button>
                    <button type="submit"> Logout </button>
                </form>
            </div>
        </div>
    </div>

<!-- Retrieve graphs x and y data -->
{{ peak_pressure|json_script:"peak_pressure" }}
{{ times|json_script:"times" }}
{{ std_pressure|json_script:"std_pressure" }}
{{ mean_pressure|json_script:"mean_pressure" }}
{{ contact_area|json_script:"contact_area" }}
{{ contact_area_percent|json_script:"contact_area_percent" }}
{{ flat_pressure_matrix|json_script:"flat_pressure_matrix" }}
{{ peak_pressure_index |json_script:"peak_pressure_index" }}
{{ coefficient_of_variation|json_script:"coefficient_of_variation" }}
{{ cop_x|json_script:"cop_x" }}
{{ cop_y|json_script:"cop_y" }}
{{ pressure_frames|json_script:"pressure_frames" }}

<script src="https://cdn.plot.ly/plotly-2.27.0.min.js"></script>
<script>
    const times = JSON.parse(document.getElementById('times').textContent);
    const date = new Date(times[0]).toLocaleDateString();
    const flat_pressure_matrix = JSON.parse(document.getElementById('flat_pressure_matrix').textContent);
    const max_value = Math.max(...flat_pressure_matrix);
    const peak_pressure = JSON.parse(document.getElementById('peak_pressure').textContent);
    const contact_area = JSON.parse(document.getElementById('contact_area').textContent);
    const std_pressure = JSON.parse(document.getElementById('std_pressure').textContent);
    const mean_pressure = JSON.parse(document.getElementById('mean_pressure').textContent);
    const cop_x = JSON.parse(document.getElementById('cop_x').textContent);
    const cop_y = JSON.parse(document.getElementById('cop_y').textContent);
    const peak_pressure_index = JSON.parse(document.getElementById('peak_pressure_index').textContent);
    const coefficient_of_variation = JSON.parse(document.getElementById('coefficient_of_variation').textContent);
    const contact_area_percent = JSON.parse(document.getElementById('contact_area_percent').textContent);
    const pressure_frames = JSON.parse(document.getElementById('pressure_frames').textContent);

    // Convert the flat heatmap list back to a matrix
    function list_to_matrix(flat_pressure_matrix){
        const pressure_matrix = []; // Empty array for matrix
        let size = Math.sqrt(flat_pressure_matrix.length) // Defines matrix size
        for(let i = 0; i < size; i++){pressure_matrix.push(flat_pressure_matrix.slice(i*size, i*size + size))}; // Fill matrix with list values
    return pressure_matrix}

    // Graph plotting function
    function plot_graph(y,metric){
        Plotly.react('graph', [{x:times, y:y, name:metric}],
            {margin: {t:1, l:50, r:1, b:50},
                xaxis:{title:`Date: ${date}`, tickformat: "%H:%M", showline:true, linecolor: "ccc", linewidth: 1, mirror: true},
                yaxis:{title:metric,showline:true, linecolor: "ccc", linewidth: 1, mirror: "allticks", showLine: true}},
            {responsive: true, displayModeBar: false, staticPlot: false});
    }

    // For display the predicted regions of concern (currently just displays heatmap)
    function plotHeatmap(pressure_matrix){
        Plotly.newPlot('heatmap',[{ z: pressure_matrix, type:'heatmap', showscale: false}],
            {margin: { t: 1, l: 1, r: 1, b: 1 }, xaxis: {visible:false}, yaxis:{visible: false, autorange:'reversed'},
            linecolor: "ccc", linewidth: 1},
            {staticPlot: false, displayModeBar: false, responsive: true});
    }

    function showPeakPressureIndex(){
        current_metric = "peak_pressure_index";
        Plotly.restyle('graph', {visible: [true, false, false]}); Plotly.relayout('graph', {margin: { t: 1, l: 1, r: 1, b: 1 },yaxis: {title:"Peak Pressure Index"}});
    }

    function showContactAreaPercent(){
        current_metric = "contact_area_percent";
        Plotly.restyle('graph', {visible: [false, true, false]});Plotly.relayout('graph', {margin: { t: 1, l: 1, r: 1, b: 1 },yaxis: {title:"Contact Area"}});
    }

    function showCoefficientOfVariation(){
        current_metric = "coefficient_of_variation";
        Plotly.restyle('graph', {visible: [false, false, true]});Plotly.relayout('graph', {margin: { t: 1, l: 1, r: 1, b: 1 },yaxis: {title:"coefficient_of_variation"}});
    }

    let index = 0; let live_data = {peak_pressure_index: [], contact_area_percent: []}; let current_metric = "peak_pressure_index" // default value
    function simulateGraphDisplay() {
        index = 0; // Reset index
        live_data = {peak_pressure_index: [], contact_area_percent: []};

        // Reset the graph traces
        Plotly.react('graph', [
            { x: [], y: [], name: "Peak Pressure Index", mode: "lines" },
            { x: [], y: [], name: "Contact Area", mode: "lines", visible: current_metric === "contact_area_percent" },
            { x: [], y: [], name: "Coefficient Of Variation", mode: "lines", visible: current_metric === "coefficient_of_variation" }
        ]);

        const interval = setInterval(() => {
            if (index >= peak_pressure_index.length) { clearInterval(interval); return; }

            live_data.peak_pressure_index.push([times[index], peak_pressure_index[index]]);
            live_data.contact_area_percent.push([times[index], contact_area_percent[index]]);

            if (current_metric === "peak_pressure_index") {
                Plotly.extendTraces('graph', { x: [[times[index]]], y: [[peak_pressure_index[index]]] }, [0], 50);
            } else if (current_metric === "contact_area_percent") {
                Plotly.extendTraces('graph', { x: [[times[index]]], y: [[contact_area_percent[index]]] }, [1], 50);
            } else if (current_metric === "coefficient_of_variation") {
                Plotly.extendTraces('graph', { x: [[times[index]]], y: [[coefficient_of_variation[index]]] }, [2], 50);
            }

            document.getElementById("peak-pressure").textContent = `Peak pressure: ${peak_pressure_index[index].toFixed(2)}`;
            document.getElementById("contact-area").textContent = `Contact area: ${contact_area_percent[index].toFixed(2)}%`;
            document.getElementById("coefficient-of-variation").textContent = `Coefficient of variation: ${coefficient_of_variation[index].toFixed(2)}%`;

            index++;
        }, 1000);
    }

    // Simulates live heatmap
    function simulateHeatMap() {
        let frame = 0;
        const interval = setInterval(() => {
            if (frame >= pressure_frames.length) {clearInterval(interval);return;}

            const matrix = list_to_matrix(pressure_frames[frame]);

            Plotly.react('heatmap',[{z: matrix, type:'heatmap',showscale:false}],
                { margin: { t: 1, l: 1, r: 1, b: 1 },xaxis: {visible: false}, yaxis: {visible:false, autorange: 'reversed'}},
                {displayModeBar: false});
            frame++;
        }, 1000 / 15)};

    window.onload = function(){
        const pressure_matrix = list_to_matrix(flat_pressure_matrix); // Convert 1D list to 2D matrix
        plotHeatmap(pressure_matrix); // Plot heatmap
        simulateHeatMap();

        // Plot graph
        Plotly.newPlot('graph', [{x: [], y: [], name: "Peak Pressure", mode: "lines", linecolor:'#ccc'},
                {x: [], y: [], name: "Contact Area", mode: "lines", visible: false},
            {x: [], y: [], name: "Coefficient of variation", mode: "lines", visible: false}],
            {margin: {t:1, l:1, r:1, b:1}, xaxis:{title:`Date: ${date}`}, yaxis:{title:"Peak Pressure"}},
            {responsive: true, displayModeBar: false});

        showTimeRange('300')
        const last_index = peak_pressure_index.length - 1;
        document.getElementById("peak-pressure").textContent = `Peak pressure: ${peak_pressure_index[last_index].toFixed(2)}`;
        document.getElementById("contact-area").textContent = `Contact area: ${contact_area_percent[last_index].toFixed(2)}%`;
        document.getElementById("coefficient-of-variation").textContent = `Coefficient of variation: ${coefficient_of_variation[last_index].toFixed(2)}%`;
    }

    // Displays latest data within a specified timerange in seconds
    function showTimeRange(seconds) {
        index = 0; // Reset index
        let time_range = [];
        let filtered_peak_pressure_index = [];
        let filtered_contact_area_percent = [];
        let filtered_coefficient_of_variation = [];
        const latest_timestamp = new Date(times[times.length - 1]); // latest timestamp

        // For each time at the specified index, append to create the new timeframe
        times.forEach((t, i) => {
            const delta_time = (latest_timestamp - new Date(t)) / 1000;
            if (delta_time <= seconds) {
                time_range.push(times[i]);
                filtered_peak_pressure_index.push(peak_pressure_index[i]);
                filtered_contact_area_percent.push(contact_area_percent[i]);
                filtered_coefficient_of_variation.push(coefficient_of_variation[i]);
            }
        });

        Plotly.react('graph', [{x: time_range, y: filtered_peak_pressure_index, name: "Peak Pressure", mode: "lines"},
            {x: time_range, y: filtered_contact_area_percent, name: "Contact Area", mode: "lines", visible: false},
            {
                x: time_range,
                y: filtered_coefficient_of_variation,
                name: "Coefficient of Variation",
                mode: "lines",
                visible: false
            }]);

        const last_index = filtered_peak_pressure_index.length - 1;
        if (last_index >= 0) {
            document.getElementById("peak-pressure").textContent = `Peak pressure: ${filtered_peak_pressure_index[last_index].toFixed(2)}`;
            document.getElementById("contact-area").textContent = `Contact area: ${filtered_contact_area_percent[last_index].toFixed(2)}%`;
            document.getElementById("coefficient-of-variation").textContent = `Coefficient of variation: ${filtered_coefficient_of_variation[last_index].toFixed(2)}%`;
        }
    }

</script>

<!-- Opens and closes side panel -->
    <script>
        document.querySelector(".side-panel-toggle").addEventListener("click", () => {
            document.querySelector(".wrapper").classList.toggle("side-panel-open");
        })
    </script>

<!-- Manage tabs -->
    <script>
        const tabs = document.querySelectorAll('.tabs button');
        tabs.forEach(tab => tab.addEventListener('click', () => {tabs.forEach(t => t.classList.remove('active'));tab.classList.add('active');}));

        const timeTabs = document.querySelectorAll('.time-tabs button');
        timeTabs.forEach(tab => tab.addEventListener('click', () => {timeTabs.forEach(t => t.classList.remove('active'));tab.classList.add('active');}));
    </script>
</body>
</html>