<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sensore Graphene Trace</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%  load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
{% include 'user/chat_widget.html' %}
<body>
<nav>
    <h3 class="nav-title"> Sensore Graphene Trace </h3>
    <button class="side-panel-toggle" type="button" aria-label="menu"> ☰ </button>
</nav>
    <div class="wrapper">
        <div class="main">
            <h1> About the company </h1>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <article class="img-info">
                <h2> Company image </h2>
                <img class="img-company" src="https://media.tenor.com/63bGPPTu_8MAAAAe/uncanny-cat-smirk.png" alt="cat smirk">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </article>
        </div>
        <div class="side-panel">

            <!-- Login Form -->
            <div id="login-panel">
                <form method='post' class="login-form">
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="login">
                    <h1> Login </h1>
                    <div class="field">
                        <label for="{{ form.username.id_for_label }}"> Email </label>
                        {{ form.username }}
                    </div>
                    <div class="field">
                        <label for="{{ form.password.id_for_label }}">Password</label>
                        {{ form.password }}
                    </div>
                    <div class="options">
                        <label>
                            <input type="checkbox" id="showPassword">
                            Show password
                        </label>
                        <a href="www.google.com">Forgot Password? </a>
                    </div>
                    <button type="submit">Login</button> <!-- Will update later when page exists -->
                    <button type="button" class="btn" id="open-register">Register</button>
                </form>
            </div>

            <!-- Registration Form -->
             <div id="register-panel" class="hidden">
                 <form method="post" class="register-form">
                     {% csrf_token %}
                     <input type="hidden" name="form_type" value="register">
                     <h1> Register </h1>
                     <div class="field">
                        <label for="{{ form.email.id_for_label }}"> Email </label>
                        {{ register_form.email }}
                    </div>
                     <div class="field">
                        <label for="{{ form.phone_number.id_for_label }}"> Phone Number </label>
                        {{ register_form.phone_number }}
                    </div>
                    <div class="field">
                        <label for="{{ form.password1.id_for_label }}">Password</label>
                        {{ register_form.password1 }}
                    </div>
                     <div class="field">
                        <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
                        {{ register_form.password2 }}
                    </div>
                     <div class="field">
                        <label for="{{ form.first_name.id_for_label }}">First Name</label>
                        {{ register_form.first_name }}
                    </div>
                     <div class="field">
                        <label for="{{ form.last_name.id_for_label }}">Last Name</label>
                        {{ register_form.last_name }}
                    </div>
                     <div class="field">
                        <label for="{{ form.date_of_birth.id_for_label }}">Date of Birth</label>
                        {{ register_form.date_of_birth }}
                    </div>
                     <button type="submit"> Create account </button>
                     <button type="button" class="btn" id="open-login"> Return to login </button>
                 </form>
             </div>

            <!-- Password Reset Form -->
            <div id="password-reset-panel" class="hidden">
                <form method="post" class="password-reset">
                    {% csrf_token %}
                    <h1> Reset Password </h1>

                </form>
            </div>

        </div>
    </div>
<!-- Opens and closes side panel -->
    <script>
        document.querySelector(".side-panel-toggle").addEventListener("click", () => {
            document.querySelector(".wrapper").classList.toggle("side-panel-open");
        })
    </script>
<!-- Shows password text when box is checked -->
    <script>
        const toggle = document.getElementById("showPassword");
        const password = document.getElementById("id_password");
        toggle.addEventListener("change", () => {
            password.type = toggle.checked ? "text" : "password";
        })
    </script>

<!-- Switch side panel views -->
    <script>
        const loginPanel = document.getElementById("login-panel");
        const registerPanel = document.getElementById("register-panel");
        const wrapper = document.querySelector(".wrapper");

        //Open registration panel
        document.getElementById("open-register").addEventListener("click", () => {
            wrapper.classList.add("side-panel-open");
            loginPanel.classList.add("hidden");
            registerPanel.classList.remove("hidden");
        })

        // Open login panel
        document.getElementById("open-login").addEventListener("click", () => {
            wrapper.classList.add("side-panel-open");
            registerPanel.classList.add("hidden");
            loginPanel.classList.remove("hidden");
        })

    </script>
</body>
</html>