<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sensore Graphene Trace</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%  load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<nav>
    <h3 class="nav-title"> Sensore Graphene Trace </h3>
    <button class="side-panel-toggle" type="button" aria-label="menu"> ☰ </button>
</nav>
    <div class="wrapper">
        <div class="main">
            <h1> About the company </h1>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <article class="img-info">
                <h2> Company image </h2>
                <img class="img-company" src="https://media.tenor.com/63bGPPTu_8MAAAAe/uncanny-cat-smirk.png" alt="cat smirk">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </article>
        </div>
        <div class="side-panel">
            <h1> Login </h1>
            <form class="login-form">
                <div class="field">
                    <label for="email"> Email </label>
                    <input id="email" type="email" name="email" required>
                </div>
                <div class="field">
                    <label for="password">Password</label>
                    <input id="password" type="password" name="password" required>
                </div>
                <div class="options">
                    <label>
                        <input type="checkbox" id="showPassword">
                        Show password
                    </label>
                    <a href="https://google.com"> Forgot Password? </a>
                </div>
                <button type="submit">Login</button> <!-- Will update later when page exists -->
                <button type="button" class="btn" onclick="window.location.href='{% url 'register' %}'">Register</button>
            </form>

        </div>
    </div>
<!-- Opens and closes side panel -->
    <script>
        document.querySelector(".side-panel-toggle").addEventListener("click", () => {
            document.querySelector(".wrapper").classList.toggle("side-panel-open");
        })
    </script>
<!-- Shows password text when box is checked -->
    <script>
        const toggle = document.getElementById("showPassword");
        const password = document.getElementById("password");
        toggle.addEventListener("change", () => {
            password.type = toggle.checked ? "text" : "password";
        })
    </script>
</body>
</html>