<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Sensore App
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/patient_style.css' %}">
</head>
<body>
{% if user.is_authenticated and user.role == 'PATIENT' %}
    {% include 'patient/chat_widget.html' %}
{% endif %}
<nav class="navbar">
        <a href="/user/redirect-to-home/">
            <img src="{{ MEDIA_URL }}SensoreLogo.png" alt="Sensore Logo" class="logo">
        </a>

        <div class="nav-right">
            <a href="/user/redirect-to-home/" class="profile-container">
                <img src="{{ user.profile_picture.url }}" alt="User profile picture" class="profile-pic">
                <span class="notification-badge">{{ num_notifications }}</span>
            </a>
            <script>
                // Set notification badge count
                const notificationCount = {{ num_notifications }};
                const badge = document.querySelector(".notification-badge");

                badge.textContent = notificationCount;

                // Hide badge if count is zero
                if (notificationCount === 0) {
                    badge.style.display = "none";
                }
            </script>

            <form action="{% url 'user:logout_user' %}" method="post">
                {% csrf_token %}
                <button class="logout" aria-label="User Logout" title="User Logout">Log out</button>
            </form>


            <button class="side-panel-toggle" type="button" aria-label="menu"> ☰ </button>

        </div>
    </nav>
<div class="wrapper">
    <!-- Side panel -->
    <div class="side-panel">
        <!-- Menu Options -->
        <div id="menu-options">
            <a href="/user/patient/profile" class="side-panel-button">
                <span>My profile</span>
            </a>

            <a href="/user/patient/report" class="side-panel-button">
                <span>View Reports</span>
            </a>

            <a href="/user/patient/graphs/" class="side-panel-button">
                <span>View Pressure Data</span>
            </a>

            <a href="/user/patient/view-devices/" class="side-panel-button">
                <span>View Devices</span>
            </a>

            <a href="/user/notifications/" class="side-panel-button">
                <span>Notifications</span>
            </a>

            <a href="/user/patient/messages/" class="side-panel-button">
                <span>Contact Clinician</span>
            </a>
        </div>
    </div>

    <main class="main">
        {% block content %}
        {% endblock %}
    </main>
</div>

<script>
    /*const menuBtn = document.querySelector(".menu-btn");
    const dropdown = document.querySelector(".dropdown");

    menuBtn.addEventListener("click", () => {
        dropdown.classList.toggle("open");
    });

    // close when clicking outside
    document.addEventListener("click", (e) => {
        if (!dropdown.contains(e.target)) {
            dropdown.classList.remove("open");
        }
    });*/

    // Opens and closes side panel
    document.querySelector(".side-panel-toggle").addEventListener("click", () => {document.querySelector(".wrapper").classList.toggle("side-panel-open");})

</script>
</body>
</html>