<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sensore Graphene Trace</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load socialaccount %}
    {%  load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
<nav>
    <img src="https://framerusercontent.com/images/bvcb26Bam4QafK4hXxNVcUU5uoU.png?scale-down-to=512&width=1695&height=380">
    <h3 class="nav-title">  </h3>
    <button class="side-panel-toggle" type="button" aria-label="menu"> ☰ </button>
</nav>
    <div class="wrapper">
        <div class="main">
            <section class="slogan">
            <h2>Helping people do something better</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

            <h1>What our product does</h1>
            <div class="feature-grid">
                <div class="feature-card">
                    <h3> Real time monitoring </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                </div>

                <div class="feature-card">
                    <h3>Continuous support</h3>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                </div>

                <div class="feature-card">
                    <h3>Pressure alerts</h3>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
            </div>

            <div class="stats">
                <div class="stat">
                    <h2>10K+</h2>
                    <p>Users helped</p>
                </div>

                <div class="stat">
                    <h2>24/7</h2>
                    <p>Availability</p>
                </div>

                <div class="stat">
                    <h2>98%</h2>
                    <p>Success rate</p>
                </div>
            </div>

            <div class="faq">
            <h1>Frequently Asked Questions</h1>

            <div class="faq-container">

                <div class="faq-card">
                    <button class="faq-question">What does this product do?<span class="arrow">⌄</span></button>
                    <div class="faq-answer"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
                </div>

                <div class="faq-card">
                    <button class="faq-question">How secure is my data?<span class="arrow">⌄</span></button>
                    <div class="faq-answer"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
                </div>

                <div class="faq-card">
                    <button class="faq-question"> I forgot my password<span class="arrow">⌄</span></button>
                    <div class="faq-answer">
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>

            </div>
        </div>
        </div>


        <div class="side-panel">
            <!-- Login Form -->
            <div id="login-panel">
                <form method='post' class="login-form">
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="login">
                    <h1> Login </h1>
                    <div class="field">
                        <label for="{{ form.username.id_for_label }}"> Email </label>
                        {{ form.username }}
                    </div>
                    <div class="field">
                        <label for="{{ form.password.id_for_label }}">Password</label>
                        {{ form.password }}
                    </div>
                    <div class="options">
                        <label>
                            <input type="checkbox" id="showPassword">
                            Show password
                        </label>
                        <button type="button" class="btn" id="open-password-reset"> Forgot password? </button>
                    </div>
                    <button type="submit">Login</button> <!-- Will update later when page exists -->
                    <button type="button" class="btn" id="open-register">Register</button>
                </form>

                <div class="google-auth">
                    <a href="{% provider_login_url 'google' %}" class="google-btn">
                        <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google logo">
                        <span>Login with Google</span>
                    </a>
                </div>
                <div class="google-auth">
                    <a href="{% provider_login_url 'google' process='signup' %}" class="google-btn">
                        <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google logo">
                        <span>Register with Google</span>
                    </a>
                </div>
            </div>

            <!-- Registration Form -->
             <div id="register-panel" class="hidden">
                 <form method="post" class="register-form">
                     {% csrf_token %}
                     <input type="hidden" name="form_type" value="register">
                     <h1> Register </h1>
                     <div class="field">
                        <label for="{{ form.email.id_for_label }}"> Email </label>
                        {{ register_form.email }}
                    </div>
                     <div class="field">
                        <label for="{{ form.phone_number.id_for_label }}"> Phone Number </label>
                        {{ register_form.phone_number }}
                    </div>
                    <div class="field">
                        <label for="{{ form.password1.id_for_label }}">Password</label>
                        {{ register_form.password1 }}
                    </div>
                     <div class="field">
                        <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
                        {{ register_form.password2 }}
                    </div>
                     <div class="field">
                        <label for="{{ form.first_name.id_for_label }}">First Name</label>
                        {{ register_form.first_name }}
                    </div>
                     <div class="field">
                        <label for="{{ form.last_name.id_for_label }}">Last Name</label>
                        {{ register_form.last_name }}
                    </div>
                     <div class="field">
                        <label for="{{ form.date_of_birth.id_for_label }}">Date of Birth</label>
                        {{ register_form.date_of_birth }}
                    </div>
                     <button type="submit"> Create account </button>
                     <button type="button" class="btn open-login">Return to login</button>
                 </form>
             </div>

            <!-- Request Password Reset Form -->
            <div id="password-reset-panel" class="hidden">
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="request_reset_code">
                    <h1>Reset Password</h1>
                    <div class="field">
                        <label>Email</label>
                        <input type="email" name="email" required>
                    </div>
                    <button type="submit">Send Code</button>
                </form>
                <button type="button" class="btn open-login">Return to login</button>
            </div>

            <!-- Password Reset Form -->
            <div id="password-code-panel" class="hidden">
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="confirm_reset">
                    <input type="hidden" name="email" value="{{ reset_email }}">
                    <h1>Enter Reset Code</h1>
                    <div class="field">
                        <label>Reset Code</label>
                        <input type="text" name="code" required>
                    </div>
                    <div class="field">
                        <label>New Password</label>
                        <input type="password" name="password" required>
                    </div>
                    <button type="submit">Reset Password</button>
                </form>
                <button type="button" class="btn open-login">Return to login</button>
            </div>
        </div>
    </div>
<!-- Opens and closes side panel -->
    <script>
        document.querySelector(".side-panel-toggle").addEventListener("click", () => {
            document.querySelector(".wrapper").classList.toggle("side-panel-open");
        })
    </script>
<!-- Shows password text when box is checked -->
    <script>
        const toggle = document.getElementById("showPassword");
        const password = document.getElementById("id_password");
        toggle.addEventListener("change", () => {
            password.type = toggle.checked ? "text" : "password";
        })
    </script>

<!-- Switch side panel views -->
    <script>
        const loginPanel = document.getElementById("login-panel");
        const registerPanel = document.getElementById("register-panel");
        const resetPanel = document.getElementById("password-reset-panel")
        const wrapper = document.querySelector(".wrapper");

        //Open registration panel
        document.getElementById("open-register").addEventListener("click", () => {
            wrapper.classList.add("side-panel-open");
            loginPanel.classList.add("hidden");
            registerPanel.classList.remove("hidden");
            resetPanel.classList.add("hidden");
        })

        // Open login panel
        document.querySelectorAll(".open-login").forEach(btn => {
            btn.addEventListener("click", () => {
                wrapper.classList.add("side-panel-open");
                registerPanel.classList.add("hidden");
                loginPanel.classList.remove("hidden");
                resetPanel.classList.add("hidden");
                document.getElementById("password-code-panel").classList.add("hidden");
            });
        });

        // Open password reset panel
        document.getElementById("open-password-reset").addEventListener("click", () => {
            wrapper.classList.add("side-panel-open");
            registerPanel.classList.add("hidden");
            loginPanel.classList.add("hidden");
            resetPanel.classList.remove("hidden");
        })
    </script>

    <!-- Toggle dropdown FAQ information -->
    <script>
    const faqCards = document.querySelectorAll(".faq-card");
    faqCards.forEach(card => {
        const button = card.querySelector(".faq-question");
        button.addEventListener("click", () => {card.classList.toggle("active");});
    });
    </script>

    <script>
        const step = "{{ reset_step|default:0 }}";
        if (step == "2") {
            wrapper.classList.add("side-panel-open");
            loginPanel.classList.add("hidden");
            registerPanel.classList.add("hidden");
            resetPanel.classList.add("hidden");
            document.getElementById("password-code-panel").classList.remove("hidden");
        }
    </script>
</body>
</html>